# The details of the environment variables you could refer to

# https://www.memfree.me/docs/one-click-deploy-ai-search

# Upstash Redis (Required)

# https://upstash.com/docs/redis/overall/getstarted

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# https://serper.dev/ (Required)

# You could get the free SERPER_API_KEY in https://serper.dev/api-key

SERPER_API_KEY=

# Auth (Required)

# The AUTH_SECRET is a random string, you could use `openssl rand -base64 32` to generate it

AUTH_SECRET=

# OpenAi (Required) https://platform.openai.com

OPENAI_API_KEY=

# The following environment variables are optional

# Claude API Key (Optional) https://console.anthropic.com/settings/keys

ANTHROPIC_API_KEY=

# VECTOR_HOST (Optional)

# The host the of local or remote vector service

# You could start the local vector service in the vector directory

VECTOR_HOST = "http://localhost:3001"

# API_TOKEN (Optional)

# should same with the API_TOKEN env in the vector service

API_TOKEN=

# Auth Providers (Optional)

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Auth Providers (Optional)

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Local image upload (Optional)

# You could get the free api key in https://uploadthing.com/dashboard

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Axiom log (optional)

AXIOM_TOKEN=

# Stripe (optional)

STRIPE_API_KEY =
STRIPE_WEBHOOK_SECRET =
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PLAN_ID =
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PLAN_ID =
NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PLAN_ID =
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PLAN_ID =
