.flot-btn {
  position: fixed;
  right: 0px;
  bottom: 200px;
  z-index: 1000;
  width: 60px;
  height: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #fff;
  font-size: 14px;
  opacity: 0.5;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  transform: translateX(20px);
  background: linear-gradient(90deg, #6366f1, rgba(168, 85, 247, 0.8));
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;

  outline: none;
  border: none;
  box-shadow: none;
}

.flot-btn:hover {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  width: 210px;
}

.flot-btn:hover::after {
  content: "Index This Web Page";
  color: #fff;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.memfree-loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#custom-alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

#custom-alert {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#custom-alert-content p {
  margin: 0 0 20px;
}

#custom-alert-ok {
  background: #8b5cf6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  max-width: 100px;
}

#custom-alert-ok:hover {
  background: #6d28d9;
}

#custom-alert-content a {
  color: #8b5cf6;
  text-decoration: none;
  font-weight: 500;
}

#custom-alert-content a:hover {
  text-decoration: underline;
}
